
*{
    margin: 0px;
    padding: 0px;
}
body{
    
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 32px;

}

.text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 32px;

}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width:155px;
    height:49px;
    margin-top: 25px;
    
    
    
    

}

/* header start  */

.header-conteiner
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 50px 180px;
    background-color: #E554731A;
   
    
}


.header-image{
    width: 450px;
    height: 550px;
   
    

}

/* header end  */

/* main start  */

.hotedeal-contener{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 30px;
    padding: 100px 400px;
    text-align: center;
}

.hotdeal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 537px;
    height: 48px;
    padding-bottom: 24px;
    text-align: center;

}
.hotedeal-text{
    
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding-bottom: 24px; 


}
.hotdeal-section{
    background-color:#E554730D;
   
}

.hotdeal-img{
    height: 420px;
    width: 318px;
}




/* section instragram  */

.instagram-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 24px;
    padding-top: 128px;
    text-align: center;
}

.instagram-description{
    text-align: center;
    padding-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.instragram-img{
    display: flex;
    gap: 24px;
    padding-bottom: 128px;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 20px; ;
    
}
.image-insta{
    width: 342px;
    height: 392px;
}


/* section feature-img   */


.flawer-conteiner{
    display: flex;
    gap: 24px;
}
.feature-box{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
   
}
.fauter-img{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
}


.feature-box-two{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;

}

.fauter-img-two{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
   
}
.feature-box-three{

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
   
    
}

.fauter-img-three{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
   
}

.flawer-conteiner{
    
    padding-left:240px ;
    padding-right: 240px;
    padding-bottom: 128px;
    
    
}

.flawer-name{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-top: 32px;
padding-bottom: 160px;
}

/* leatest-del section  */

.del-contact input[type="email"]{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    font-size: 16px;
  
}
.del-contact{
    text-align: center;
}



.leatest-del{
   
    background-image: url('Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 128px;
   
}

/* footer section  */
.footer-section{
    width: 100%;
    height: auto;
    background-color:#111010;
    padding: 195px 50px 180px 50px;

}
.footer-title{
    color: #E55473; 
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 24px;
    text-align: center;


}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 24px;

}
.footer-copy{
    color: rgba(109, 108, 108, 0.9);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;


}

   




